body{
  background-color: #FFFFFF;
  /*background-color: rgb(225, 209, 255);*/
}


.container{
  width: 80%;
  
  padding-top: 60px;
  background-color: #FFFFFF;

}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*로그인 회원 가입 창*/

.Box{
  width: 50%;
  border: 3px solid  #9fb6f1;
  border-radius: 40px;
}

.infobox{
  height: 85vh;
}

.nav{
  display: flex;
  justify-content: flex-end;
  background-color: #9fb6f1;
  height: 70px;
  align-items: center;
}

@media (min-width: 320px) {
  .container {
      max-width:640px
  }
  .userinfo{
    padding: 5px 10px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
  .userinfo{
    padding: 30px 50px;
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px}
  .userinfo{
    padding: 50px 100px;
  }
}


@media (min-width: 1280px) {
  .container {
      max-width:1280px
  }
  .userinfo{
    padding: 50px 100px;
  }
}

@media (min-width: 1536px) {
  .container {
      max-width:1536px
  }
  .userinfo{
    padding: 50px 100px;
  }
}



/*게시판 홈*/
.hometop{
  display: flex;
  padding-left: 5vh;
  margin-bottom: 3vh;
  height: 5vh;
  box-sizing: content-box;
}
.hometop-text{
  width: 100%;
  border-bottom: 2px solid  #9fb6f1;
  padding-bottom: 50px;
}

.listbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardlist{
  width: 80%;
  height: auto;
}
.listtop-title{
  display: flex;
  background-color: white;
  height: 5%;
  text-align: center;
  border-bottom: 1px solid  #9fb6f1;
  align-items: center;
}
.list-No{
  width: 4vh;
  text-align: center;
  height: 100%;
  padding-top: 0.5vh;
  border-right: 1px solid rgb(0, 0, 0);
}
.list-title{
  display: flex;
  text-align: center;
  justify-content: flex-start;
  width: 70vh;
  height: 100%;
  padding-top: 0.5vh;
  padding-left: 5%;
  border-right: 1px solid rgb(0, 0, 0);
}
.list-writer{
  width: 10vh;
  text-align: center;
}

.homebot{
  z-index: 999;
}

.homebot-write{
  padding-right: 12vh;
  display: flex;
  justify-content: flex-end;
}
.homebot-write>button{
  width: 100px;
}
.homebot-page{
  margin-right: 350px;
  align-items: center;
  width: 100%;

}
.homebot-page>button{
  background-color: rgb(255, 255, 255);
  border:1px solid #9fb6f1;
  outline: none;
  height: 100%;
  width: 7%;
  margin: 6px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
  text-align: center;
}

.homebot-search{
  width: 40%;
  height: 40px;
  border:2px solid #afb6f9; 
  outline: none;
  display: flex; 
}

.homebot-search>input{
  width: 100%;
  border-left:0;
  border-right:0;
  border-top:0px; 
  border-bottom: 0px;
  outline: none;
}
.homebot-select option {
  border-radius: 50px; /* 둥근 테두리 설정 */
  background-color: #f0f0f0; /* 배경색 설정 */
  color: #333; /* 텍스트 색상 설정 */
}

.homebot-select{
  width: 300px;
  outline: none;
  border-left:0;
  border-right:0;
  border-top:0px; 
  border-bottom: 0px;
  text-align: center;
}

.homebot-select:focus{
  outline: none;
  box-shadow: none;
}



.search-btn{
  width: 85px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(124, 148, 246);
  height: auto;
  text-align:center;
  border-left:0;
  border-right:0;
  border-top:0px; 
  border-bottom: 0px;
}


/*페이징*/

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-top : 1px solid #9FB6F1;
  border-bottom : 1px solid #9FB6F1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0;
}

.pagination li:first-child{
  border-radius: 10px 0 0 10px;
  border-left: 1px solid #9FB6F1;
  border-top : 1px solid #9FB6F1;
  border-bottom : 1px solid #9FB6F1;
}

.pagination li:last-child{
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #9FB6F1;
  border-top : 1px solid #9FB6F1;
  border-bottom : 1px solid #9FB6F1;
}

.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

.pagination li.active a {
  color: white;
}

.pagination li.active {
  background-color: #9FB6F1;
}

.pagination li a:hover,
.pagination li a.active {
  color: blue;
}


/*게시글 리스트*/
.max{
  height: 97%;
}

.list{
  border-bottom: 1px solid black;
  height: 8%;
}

/*로그인창*/

.Loginbtn{
  display: flex;
  justify-content: center;
  width: 100%;
}



/*글쓰기탭*/
.Write-page{
  padding: 13px 13px;
  box-shadow:  0 0 5px #255be3;
}
.Write-Box{
  width: 70%;
  border-radius: 40px;
}
.Write-title{
  height: 5vh;
  margin-bottom: 7vh;
  
} 
.Write-text{
  height: fit-content;
  height: 3vh;
}
.text-area{
  width: 98%;
  height: 100%;
  resize: none;
  outline-color:  #9fb6f1;
  border-left:0;
  border-right:0;
  border-top:0; 
  border-bottom :1px solid #afb6f9; 
  border-radius: 0;

}
.Write-btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
  
}
.Write-btn>button{
  width: 100px;
}

.rewite-border{
  border-radius: 0;
}
/*선택 페이지*/
.selectedpage-title-size{
  height: fit-content;
}

.selectedpage-title{
  font-size: 26px;
  font-weight: 400;
}
.selectedpage-content{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5vh;
}
.comment{
  width: 70%;
  margin-top: 2vh;
}
.comment-submit{
  margin-bottom: 10%;
}

.comment-inputbox{
  width: 95%;
  height: 5vh;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
}
.underline{
  border-left:0;
  border-right:0;
  border-top:0; 
  border-bottom :1px solid #c7cbeb; 
}
.comment-title{
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 5vh;
}

input.underline {
  border-left:0;
  border-right:0;
  border-top:0; 
  border-bottom :1px solid #afb6f9; 
  
}
input.underline:focus{
  outline: none;
  border-bottom :1px solid #5262f1; 
}

.comment-name{
  margin-right: 50px;
}



.comment-btn{
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}

.comment-btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.comment-btn:focus {
  outline: none;
}


.comment-btn.color-9 {
  background-image: linear-gradient(to right, rgb(124, 148, 246), #afb6f9, #c0c2f8, rgb(21, 63, 231));
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


/*Mypage*/
.mypage-box{
  margin-top: 2vh;
  width: 50%;
  border: 3px solid  #9fb6f1;
  border-radius: 20px;
}

.mypage-text{
  display: flex;
  border-bottom: 1px solid #E1E3E1;
  align-items: center;
  height: 4vh;
}

.mypage-text-label{
  display: flex;
  justify-content: center;
  width: 30%;
  border-right:1px solid #afb6f9 ;
}

.mypage-text>div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.mypage-btn{
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.mypage-btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mypage-btn:focus {
  outline: none;
}


.mypage-btn.color-9 {
  background-image: linear-gradient(to right, rgb(124, 148, 246), #afb6f9, #c0c2f8, rgb(91, 120, 235));
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
/*팝업창*/


.Edit-inputbox{
  width: 95%;
  padding-left: 3%;
  padding-right: 3%;
}

.Edit-underline {
  border-left:0;
  border-right:0;
  border-top:0; 
  border-bottom: 0;
}

.Edit-underline:focus{
  outline: none;
  border-bottom :1px solid #5262f1; 
}

.editField-title{
  font-size: 36px;
  font-weight: 500;
  margin: 2vh 0;  
  border-left:0;
  border-right:0;
  border-top:0; 
  border-bottom: 1px solid #c0c2f8;
}
.editField-btn-duo{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  height: 15%;
}
.editField-btn-left{
  display: flex;
  width: 45%;
  background-color: #E1E3E1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}
.editField-btn-right{
  display: flex;
  width: 55%;
  background-color:#9fb6f1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}





/*버튼 css*/
.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}


.btn-hover.color-9 {
  background-image: linear-gradient(to right, rgb(124, 148, 246), #afb6f9, #c0c2f8, rgb(21, 63, 231));
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}