body{
  background-color: rgb(225, 209, 255);

}


.container{
  width: 80%;
  height: 85vh;
  margin-top: 3vh;
  background-color: floralwhite;
}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box{
  width: 50%;
  border: 6px solid rgb(225, 209, 255);
  border-radius: 40px;
}

.nav{
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 320px) {
  .container {
      max-width:640px
  }
  .userinfo{
    padding: 5px 10px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
  .userinfo{
    padding: 30px 50px;
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px}
  .userinfo{
    padding: 50px 100px;
  }
}


@media (min-width: 1280px) {
  .container {
      max-width:1280px
  }
  .userinfo{
    padding: 50px 150px;
  }
}

@media (min-width: 1536px) {
  .container {
      max-width:1536px
  }
  .userinfo{
    padding: 50px 150px;
  }
}

/*로그인 페이지*/

/*게시판 홈*/
.hometop{
  display: flex;
  padding-left: 5vh;
  margin-bottom: 3vh;
  padding-top: 2vh;
  height: 5vh;
  box-sizing: content-box;
}
.hometop-text{
  width: 100%;
  border-bottom: 2px solid rgb(214, 194, 225);
  padding-bottom: 50px;
}

.listbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardlist{
  width: 80%;
  height: 70vh;
  border: 1px solid slategray;
}
.listtop{
  display: flex;
  background-color: rgb(225, 209, 255);
}
.list-No{
  width: 4vh;
  text-align: center;
  border-right: 1px solid rgb(0, 0, 0);
}
.list-title{
  text-align: center;
  width: 80vh;
  
}
.homebot{
  padding-right: 12vh;
  display: flex;
  justify-content: flex-end;
}

/*글쓰기탭*/
.Write-page{
  padding: 13px 13px;
}
.Write-Box{
  width: 70%;
  border: 6px solid rgb(225, 209, 255);
  border-radius: 40px;
}
.Write-title{
  height: 5vh;
  padding: 1px;
  margin-bottom: 2vh;
} 
.Write-text{
  height: 60vh;

}
.text-area{
  width: 98%;
  height: 100%;
  resize: none;
  border: 2px solid rgb(225, 209, 255);
  border-radius: 15px;
  outline-color: #e4aff9;
}
.Write-btn{
  display: flex;
  justify-content: flex-end;
}
.Write-btn>button{
  width: 100px;
}



/*버튼 css*/
.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}


.btn-hover.color-9 {
  background-image: linear-gradient(to right, #c285f4, #e4aff9, #ddc0f8, rgb(136, 21, 231));
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}